    <div class="container">
        <h1>게시글 작성</h1>
        
        <form method='POST' action="{% url 'boardcreate' %}" enctype="multipart/form-data">
          {% csrf_token %}
            <p>작성자:</p>
              {{loggeduser}}
            <p>제목:</p>
            <input type="text" name="title" required>
            <p>이미지:</p>
            <input type="file"  name="image">
            <p>본문:</p>
            <textarea cols=50 rows=5 name="content"></textarea>
            <br><br>
            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>